@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}

body{
    /* margin-bottom: 60px; */
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.lc_homepage{
    background-color: #fff;
}

.container{
    padding: 0;
}

    /*logo*/

.lc_header .lc_logo{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}   


/* mobile view navbar */
.mobile-view-navbar{
    display: none;
}

    /*header navbar*/

.lc_header .lc_navbar{
    background-color: #1b2228;
    padding: 20px 0 5px;
}

.lc_header .lc_navbar .header_nav{
    display: flex;
    justify-content: space-evenly;
}

.lc_header .lc_navbar .nav_item{
    list-style: none;
}
.lc_header .lc_navbar .nav_item .nav_link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14.7px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}
.lc_header .lc_navbar .nav_item .fa-search{
    color: #fff;
    font-size: 14.7px;
}

    /*top banner*/

.lc_banner{
    display: flex;
    margin-top: 30px;
}

.lc_banner .left_banner,.lc_banner .right_banner .right-top_banner,.lc_banner .right_banner .right-btm_banner{ 
    position: relative;
    width: 570px;
}

.lc_banner .left_banner_img .banner_img,.lc_banner .right_banner_img .banner_img{
    width: 570px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
    /* opacity: .6; */
    /* background-image: linear-gradient(to top, #000000 13%, rgba(0, 0, 0, 0) 94%); */
}

.right-top_banner .right_banner_img .banner_img{
    padding-bottom: 2px;
}

.lc_banner .right_banner_img .banner_img{
    height: 200px;
    padding-left: 2px;
}

.lc_banner .left_banner_content,.lc_banner .right_banner .right-top_banner .right_banner_content,.lc_banner .right_banner .right-btm_banner .right_banner_content{
    position: absolute;
    bottom: 10px;
    left: 25px;
}

.title-tag{
    background-color: #fc7d46;
    border-radius: 2px;
    padding: 2px 8px; 
    display: inline-block;
    margin-bottom: 10px;
}
.title-tag h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}

.left_banner_content .banner_content{
    font-size: 26px;
    font-weight: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.37;
}

.right-btm_banner{
    position: relative;
}

.right_banner_img_content{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.33;
    color: #fff;
}

.playbtn{
    position: absolute;
    top: 42%;
    left: 45%;
    background-color: #fc7d46;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: .9;
}

.playbtn .fa-play{
    color: #fff;
    margin-top: 12px;
    margin-left: 14px;
}


    /*Initiatives section*/

.initiatives,.defence-lc{
    margin-top: 50px;
    margin-bottom: 50px;
    /* max-height: 100px; */
    /* min-height: 100px; */
}

.section-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #dededf;
    position: relative;
}

.line{
    position: absolute;
    bottom: -1.9px;
    border-bottom: 2px solid #e05e00;
    /* background-color: #e05e00; */
    width: 30px;
}
.section-header-navbar .section-nav{
    display: flex;
    margin-bottom: 2px;
}

.section-header-navbar .section-nav .section-nav-item{
    padding-left: 28px;
}

.title-name{
    font-family: 'Poppins', sans-serif;
    color: #e05e00;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-nav-link{
    color: #a0a0a0;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;    
}

.fa-ellipsis-v{
    font-size: 22px;
    color: #a0a0a0;
}

.section-nav-link.active{
    color: #212121;
}

    /*content part*/

.section-content,.section-content-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 30px;
}

.content-first-img img{
    width: 360px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
}

.img-title-h2{
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: #000;
    font-weight: normal;
}
.content-first-part{
    position: relative;
}
.section-content .title-tag{
    position: absolute;
    top: 33%;
    left: 25px;
    /* z-index: 99; */
}

.author{
    font-size: 12px;
    font-family: 'Roboto', sans-serif; 
    color: #a0a0a0;
    font-weight: normal;
}

.author span{
    color: #1e96fc;
}

.discription{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #595c5f;
}

.middle-first-img{
    display: flex;
    position: relative;
}

.middle-first-img .playbtn{
    left: 14%;
    top: 27%;
    width: 25px;
    height: 25px;
}

.middle-first-img .fa-play{
    margin-top: 2px;
    margin-left: 9px;
    font-size: 11px;
}

.content-middle-img img{
    width: 120px;
    height: 83px;
}

.middle-img-content{
    padding-left: 14px;
}

.middle-first-img:not(:last-child){
    padding-bottom: 28px;
}

.img-title-h3{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #000; 
}

.bg-img{
    background-color: #000;
}

.content-middle-part{
    position: relative;
}

.section-content-2 .title-tag{
    position: absolute;
    top: 25%;
    left: 25px;
}

    /* History of lc */

.history-of-lc{
    
    border: 1px solid #dededf;
    padding: 20px;
    margin-bottom: 30px;
}
.history-header{
    border-bottom: 2px solid #dededf;
    position: relative;
    padding-bottom: 10px;
}

.lc-history-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    padding-top: 20px;
}

.lc-history-img{
    position: relative;
}

.lc-history-img img{
    width: 252px;
    height: 180px;
}

.lc-history-img .playbtn{
    top: 37%;
    left: 38%;
    width: 51px;
    height: 51px;
}

.lc-history-img .playbtn .fa-play{
    margin-top: 15px;
    margin-left: 19px;
    font-size: 21px;
}

.lc-history-imgContent{
    padding-top: 15px;
}

.img-title-h4{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #000;
}
.left-arw .fas{
    color: red;
    font-size: 20px;
}

    /* history of lc pagination */

.history-pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.pag-line{
    width: 505px;
    height: 0;
    border: 1px solid #dededf;
}

.arws{
    display: flex;
    justify-content: space-between;
}
.left-arw{
    margin-right: 8px;
}
.left-arw,.right-arw {
    width: 28px;
    height: 26px;
    border: 1px solid #dededf;
    text-align: center;
    color: #dededf;
}

    /* press-release_podcast */

.press-release-details,.podcast-details{
    padding-bottom: 50px;
}

.publication-details{
    margin-bottom: 70px;
}

.press-release_podcast{
    display: grid;
    grid-template-columns: 65% 31%;
    grid-column-gap: 50px;
}

.press-release_podcast .section-content{
    grid-template-columns: 1fr 1fr;
}

.podcast-details .content-middle-part{
    padding-top: 30px;
}

    /* publication section */

.publication-details{
    border: 2px solid #dededf;
    padding: 20px;
}

.publication-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    padding-top: 30px;
}

.publication-img{
    background-color: #efefef;
    text-align: center;
}

.publication-details .history-pagination .pag-line{
    width: 300px;
}

    /* archives section */

.archives{
    background-color: #151f27;
    padding: 30px 0;
    margin-bottom: 50px;
}

.archive-imgContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 35px;
    padding-top: 25px;
}

.archive-img{
    background-color: #444c52;
    text-align: center;
}

.archive-content{
    padding-top: 12px;
}

.archives .title .title-name{
    color: #fff;
}
.archive-content .img-title-h4{
    color: #efefef;
}

.archive-content .author span{
    color: #1e86fc;
    text-transform: uppercase;
}

    /* alumni section */

.alumni-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.alumni-grid .img-item-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.alumni-grid .sm-img img{
    width: 100%;;
    height: 184px;
}

.img-item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    position: relative;
}

.img-item-1 .image-title-h5{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #000;
    margin-bottom: 0;
}

.sm-img{
    position: relative;
}

.sm-img .image-title-h5{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin-bottom: 0;
}

.alimni-imgContent{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    opacity: .6;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 20px;
}

    /* footer */

.footer{
    background-color: #212121;
    padding: 30px 0;
}

.footer-mail-media{
    display: flex;
    justify-content: space-between;
}

.mail-input{
    max-width: 400px;
}

.img-title-h6{
    color: #f0efec;
    font-weight: 600;
}

.subc-tag{
    color: #97999b;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.input-box input{
    border: none;
    outline: none;
    background-color: #444c52;
    width: 254px;
    height: 37px;
}

.sign-up{
    border: none;
    /* padding: 7px; */
    background: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 82px;
    height: 38px;
    margin-left: -3px;
}

.input-box input::placeholder{
    color: #efefef;
    font-size: 14px;
    padding: 6px 10px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.social-media{
    align-self: center;
}

.follow-us{
    color: #97999b;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.social-media-icons{
    display: flex;
    justify-content: space-between;
}

.social-media-icons  li{
    width: 40px;
    height: 40px;
    background-color: #444c52;
    margin-left: 8px;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
}

.social-media-icons  li:first-child{
    margin-left: 0;
}
.social-media-icons li a{
    color: #efefef;
}

    /* copy right */

.copy-right{
    background-color: #212121;
    opacity: .9;
    padding:10px 0;
}
.copy-right p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #f0efec;
    margin-bottom: 0;
}


@media(max-width:380px){

    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* mobile view navbar */
    .mobile-view-navbar{
        display: block;
        margin-left: 27.6%;
        padding-top: 6px;
        font-size: 21px;
    }  

    .mobile-view-navbar .fa-search{
        padding-right: 7px;
    }

    .mobile-view-navbar i{
        color: #000;
    }

    /* logo */
    .lc_logo img{
        width: 200px;
    }

    .lc_header .lc_logo{
        justify-content: flex-start;
    }

    /* Top navbar */

    .lc_navbar{
        display: none;
    }

    /* banner */

    .lc_banner .right_banner{
        display: none;
    }
    .lc_banner .left_banner_img .banner_img{
        width: 100%;
        height: auto;
    }

    .lc_banner .left_banner_content{
        bottom: 0;
        left: 20px;
    }

    .left_banner_content .banner_content{
        font-size: 16px;
    }
    
    /* Initiatives */
    .line{
        bottom: -2.9px;
    }

    .initiatives{
        margin-top: 40px;
    }

    .section-header-navbar{
        display: none;
    }

    .section-content,.section-content-2{
        grid-template-columns: 1fr;
    }

    .initiatives .content-middle-part:last-child{
        display: none;
    }

    .content-first-img img{
        width: 100%;
        height: auto;
    }
    /* defence lc */
    .section-content-2 .content-middle-part{
        display: none;
    }

    .section-content-2 .content-first-part:last-child{
        display: none;
    }

    /* History of lc */

    .lc-history-content{
        grid-template-columns: 1fr;
    }

    /* .lc-history-details{
        padding-bottom: 30px;
    } */

    .lc-history-content .lc-history-details:not(:first-child){
        display: none;
    }

    .lc-history-img{
        text-align: center;
    }

    .lc-history-img .playbtn .fa-play{
        margin-left: 3px;
        font-size: 18px;
    }

    .lc-history-img .playbtn {
        top: 38%;
        left: 41%;
        width: 45px;
        height: 45px;
    }
    /* press-release-podcast */

    .press-release_podcast{
        grid-template-columns: 100%;
    }

    /* press-release */
    .press-release_podcast .section-content{
        grid-template-columns: 1fr;
    }

    /* podcast */

    .podcast .podcast-details:last-child{
        display: none;
    }

    .podcast-details .middle-first-img:last-child{
        display: none;
    }

    /* publication */
    .publication-content{
        grid-template-columns: 1fr;
    }

    .publication-img{
        background-color: transparent;
    }

    .publication-imgContent{
        padding-bottom: 30px;
    }

    /* archive */

    .archive-imgContent{
        grid-template-columns: 1fr;
    }

    .archive-img-content{
        padding-bottom: 30px;
    }

    .archive-content{
        text-align: center;
    }

    .archive-img{
        background-color: transparent;
    }

    /* alumni */
    .alumni-grid{
        grid-template-columns: auto;
    }

    .alumni-grid .img-item-3,.alumni-grid .img-item-4{
        display: none;
    }

    .alumni-grid .sm-img img{
        height: 100px;
    }

    .alimni-imgContent{
        padding: 1px 6px;
    }

    .img-item-1 .image-title-h5{
        font-size: 15px;
    }

    .sm-img .image-title-h5{
        font-size: 13px;
    }

    .alumni-grid{
        grid-column-gap: 20px;
        grid-row-gap: 25px;
    }

    /* footer */
    .footer-mail-media{
        flex-direction: column;
    }

    .social-media{
        align-self: baseline;
        padding-top: 20px;
    }
}